*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  /* font-family: 'Abhaya Libre', serif; */
  font-family: 'Arapey', serif;
  font-weight: 400;
}

body {
  background: rgb(30, 30, 30);
  color: #FAF9F6;
  overflow: hidden;
  overflow-y: scroll;
}
