#portfolio {
  margin: 0 auto;
  min-height: calc(100vh - 5rem);
  /* width: 100vh; */
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
}

.portfolioTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.portfolioDescription {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 60rem;
  padding: 0 2rem;
}

.portfolioImages {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}

.portfolioImg {
  object-fit: cover;
  height: 22rem;
  width: 20rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.portfolioBtn {
  padding: 0.5rem 2.5rem;
  border: none;
  background: #fff;
  border-radius: 2rem;
  margin: 3rem 0;
  font-size: 1rem;
  font-weight: 600;
}
.portfolioBtn:hover {
  cursor: pointer;
}

@media screen and (max-width:585px) {
  .portfolioImg {
    height: 46vw;
    width: auto;
  }
}
