#portfolio {
  margin: 0 auto;
  min-height: calc(100vh - 5rem);
  /* width: 100vh; */
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
}

.portfolioTitle {
  margin: 1rem 0;
  font-size: 2.25rem;
  padding-top: 1rem;
  font-weight: 700;
  /* font-style: italic; */
}

.portfolioDescription {
  font-weight: 400;
  font-size: 1.3rem;
  max-width: 60rem;
  padding: 0 2rem;
}

.portfolioImages {
  margin: 2rem 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}

.portfolioImg {
  object-fit: cover;
  height: 16rem;
  width: 9rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width:850px) {
  .portfolioImg {
    height: 42vw;
    width: 32vw;
    /* object-fit: contain; */
  }
  .portfolioDescription {
    font-size: 1rem;
    padding: 0 2rem;
    padding-bottom: 0.25rem;
  }
  .portfolioTitle {
    font-size: 2.2rem;
    padding-top: 0.5rem;
  }
}
