#about {
  overflow: hidden;
  width: 100vw;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.aboutTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.aboutDescription {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 60rem;
  padding: 0 2rem;
}

.aboutBars {
  margin: 1.5rem;
  margin-bottom: 0;
  width: 100vw;
  max-width: 90%;
  text-align: left;
}

.aboutBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rgb(40, 40, 40);
  color: #FAF9F6;
  /* border: 0.01rem solid #aa381ebc; */
  opacity: 0.9;
}

.aboutBarImg {
  object-fit: contain;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 2rem;
  margin-top: 1rem;
  /* padding-bottom: 0.5rem; */
}

.aboutBarText>p {
  font-size: 1rem;
  font-weight: 200;
}
.aboutBarText>h2 {
  font-size: 1.8rem;
}
.aboutBarLink {
  text-decoration: none;
  color: #faf9f6c0;
  font-weight: 700;
  border-radius: 10px;
}
.aboutBarLink:hover {
  opacity: 0.7;
}

@media screen and (max-width:850px) {
  .aboutBars {
    margin: 1rem;
    max-width: 97%;
    text-align: left;
  }
  .skillBarText {
    font-size: 2vw;
  }
  .aboutDescription {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 2rem;
    padding-bottom: 0.5rem;
  }
  .aboutTitle {
    font-size: 2.5rem;
  }
}
@media screen and (max-width:480px) {
  .skillBarText {
    font-size: 3vw;
  }
  .aboutBarImg {
    height: 2.75rem;
    width: 2.75rem;
    margin-top: 0;
  }
  .aboutBarText>h2 {
    font-size: 3.75vw;
  }
  .aboutBarText>p {
    font-size: 2.25vw;
  }
  .aboutBarLink {
    font-size: 2.5vw;
  }
}
