#contactPage {
  min-height: calc(100vh - 4rem);
  /* width: 100vw; */
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 3rem;
  margin: 1rem 0;
}

.workDescription {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 60rem;
  padding: 0 2rem;
}

.workImages {
  margin: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.workImg {
  object-fit: contain;
  width: 23%;
  min-width: 27rem;
  margin: auto;
  padding: 0.25rem;
  border-radius: 10px;
}

#work {
  padding: 2rem;
}

.contactDescription {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 60rem;
  padding: 0 2rem;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name, .email, .message {
  font-size: 1.25rem;
  font-weight: 300;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  background: rgb(40, 40, 40);
}

.submitBtn {
  background: #faf9f6d4;
  border: none;
  padding: 0.75rem 3.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
}
.submitBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  /* border-radius: 4px; */
}
.link:hover {
  cursor: pointer;
}

@media screen and (max-width:850px) {
  .workImages {
    margin: 1rem 0.75rem;
  }
  .workImg {
    min-width: 11rem;
    padding: 0.25rem;
  }
  .contactPageTitle {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .contactDescription {
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }
  .workDescription {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 1.5rem;
    padding-bottom: 0.5rem;
  }
  .submitBtn {
    margin: 2.15rem 0;
  }
}
@media screen and (max-width:480px) {
  .name, .email, .message {
    margin: 0.7rem;
    padding: 0.75rem 1rem;
  }
  .workImg {
    min-width: 8.5rem;
  }
  .link {
    height: 3rem;
    width: 3rem;
  }

}
