#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.introContent {
  writing-mode: vertical-lr;
  /* text-orientation: sideways-right; */
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.introText {
  margin-top: 0.5rem;
  padding: 0.5rem;
  letter-spacing: 0.5rem;
  font-size: 5rem;
}

.introName {
  text-orientation: upright;
  color: #d5c0c5;
  letter-spacing: 0;
}


@media screen and (max-width:840px) {
  .background {
    right: -26vw;
  }
  .introText {
    font-size: 5rem;
    margin-top: 0;
  }
}
@media screen and (max-width:480px) {
  .background {
    right: -20vw;
  }
}
