#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.introContent {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 6rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.introName {
  text-orientation: upright;
  color: #d5c0c5;
}


@media screen and (max-width:840px) {
  .background {
    right: -10vw;
  }
  .introContent {
    font-size: 18vw;
  }
}
@media screen and (max-width:480px) {
  .background {
    right: -20vw;
  }
}
