.footer {
  width: 100vw;
  margin-top: 1rem;
  height: 4rem;
  background: #d5c0c5;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
}
